.Window {
  display: flex
}

.BurgerHolder {
  align-items: flex-end;
  width: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 1px solid black
}

.Buttons {
  align-self: center;
  height: 25px;
  width: 150px;
}

.IngredientHolder {
  width: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  border: 1px solid black
}
