.App {
  border: 1px solid red;
  text-align: center;
  display: flex;
  justify-content: space-around;
  /* flex-direction: column; */
  align-items: center;
  width: 400px;
  margin: 0 auto;
}

.ingredsList{
  text-align: left;
}
.pane{
  border: 1px solid black;
  height: 100px;
  width: 100px;
  display: flex;
  flex-direction: column;
}
