* {
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

body {
  background-color: black;
  color: white;
}

.Container {
  width: 100vw;
  height: 100vh;
  display: flex;
  background-color: orange;
  justify-content: center;
  align-items: center;
  
}

.CreateCol {
  background-color: blue;

}

.DisplayCol {
  margin-left: 6%;
  background-color: red;
  
  
}

.CreateCol, .DisplayCol {
  border-radius: 10%;
  width: 40vw;
  height: 80vh;
  padding: 3%;
}

.DisplayCol button {
  background-color: gold;
  height: 45px;
  width: 200px;
  font-size: 25px;
  font-weight: bold;
  border-radius: 5%;
  margin: 5%;
}