.ingredient-list {
    color:cornflowerblue;
    background-color: powderblue;
}

.burger-ingredients {
    color:darkslateblue;
    background-color: powderblue;
}

.bothLists {
    display: flex;
    justify-content: space-between;
    width: 40%;
    margin: 0 auto;
}