

/* .container {
  text-align: center;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
} */

.title {
    background-color: black;
    color: white;
    text-align: center;
    position: relative;
    width: auto;
    height: auto;
}

.ingredients {
    background-color: brown;
    position: absolute;
    left: 200px;
    width: auto;
    height: auto;
}

.Burger {
    background-color: bisque;
    position: absolute;
    left: 400px;
    width: auto;
    height: auto;
}